---
import { languageList, useTranslations } from "../../../../i18n/";
const currentLang = Astro.currentLocale || "es";
import CardBlog from "../../../shared/card-blog/index.astro";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);

// Hacer la petición al API
const response = await fetch("http://localhost:3000/api/v1/articles?page=1");
const data = await response.json();

// Obtener 3 artículos aleatorios
const allArticles = data.data.data;
const shuffledArticles = [...allArticles].sort(() => Math.random() - 0.5);
const selectedArticles = shuffledArticles.slice(0, 3);

// Formatear los artículos para el componente CardBlog
const posts = selectedArticles.map((article) => {
  const publicationDate = new Date(
    article.publication_timestamp
  ).toLocaleDateString(currentLang, {
    year: "numeric",
    month: "long",
    day: "numeric",
  });

  return {
    title: article.title,
    date: publicationDate,
    category: article.articleCategory.name,
    image: article.banner,
    author: {
      name: `${article.userDetails.user.first_name} ${article.userDetails.user.last_name}`,
      role: "Autor",
      avatar: "/assets/images/blog/avatar.avif",
    },
    description: article.resume,
    link: `/blog/${article.id}`,
  };
});
---

<div class="mt-2">
  <div
    class="bg-white rounded-xl shadow-sm overflow-hidden p-6 flex items-center justify-between"
  >
    <p
      class="mt-2 max-w-lg text-pretty lg:text-3xl text-2xl font-semibold tracking-tight text-gray-950 text-left"
    >
      {translateLabels("blog.read.related")}
    </p>
    <a
      href="/blog"
      class="text-blue-600 text-sm font-semibold px-6 py-2 block hover:bg-blue-100 rounded-md transition-all"
    >
      {translateLabels("blog.read.related.button")}
    </a>
  </div>
  <div
    class="mx-auto mt-2 grid max-w-2xl grid-cols-1 gap-x-2 gap-y-2 lg:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    {
      posts.map((post) => (
        <CardBlog
          imageUrl={post.image}
          date={post.date}
          category={post.category}
          title={post.title}
          titleUrl={post.link}
          description={post.description}
          authorName={post.author.name}
          authorImage={post.author.avatar}
          authorRole={post.author.role}
        />
      ))
    }
  </div>
</div>
