---
import Footer from "../../../components/pages/shared/footer/index.astro";
import Header from "../../../components/pages/shared/header/index.astro";
import CtaSection from "../../../components/pages/shared/cta-section/index.astro";
import RelatedBlogSection from "../../../components/pages/blog/related-blog-section/index.astro";
import Layout from "../../../layouts/Layout.astro";
import BlogInfoSection from "../../../components/pages/blog/blog-info-section/index.astro";
import { languageList, useTranslations } from "../../../i18n/";
import { assets } from "../../../utils";

// Habilitar SSR para esta ruta
export const prerender = false;

const currentLang = Astro.currentLocale || "en";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);

const structuredData = {
  "@context": assets.seo.context,
  "@type": assets.seo.type,
  name: translateLabels("seo.blog.title"),
  url: translateLabels("seo.blog.canonical"),
  description: translateLabels("seo.blog.description"),
  publisher: {
    "@type": assets.seo.type_publisher,
    name: assets.seo.name,
    logo: assets.seo.logo_url,
  },
};

const { slug } = Astro.params;

// Hacer la petición al API para obtener los detalles del artículo
const articleResponse = await fetch(
  `http://localhost:3000/api/v1/articles/${slug}`
);
const articleData = await articleResponse.json();

if (!articleData || !articleData.data) {
  return new Response("Article not found", {
    status: 404,
    statusText: "Not Found",
  });
}

const article = articleData.data;

// Hacer la petición para obtener el contenido HTML
const contentResponse = await fetch(article.content);
const contentHtml = await contentResponse.text();

// Formatear la fecha de publicación
const publicationDate = new Date(
  article.publication_timestamp
).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout
  title={translateLabels("seo.blog.title")}
  description={translateLabels("seo.blog.description")}
  keywords={translateLabels("seo.blog.keywords")}
  canonical={translateLabels("seo.blog.canonical")}
  image={assets.seo.image_og}
  type={assets.seo.type.toLowerCase()}
  robots={assets.seo.robots}
  structuredData={structuredData}
>
  <Header />
  <main class="pb-32 pt-6 mx-auto max-w-7xl px-6 lg:px-8">
    <BlogInfoSection
      title={article.title}
      resume={article.resume}
      category={article.articleCategory.name}
      publicationDate={publicationDate}
      readingTime={article.reading_time}
      authorFirstName={article.userDetails.user.first_name}
      authorLastName={article.userDetails.user.last_name}
      banner={article.banner}
    />
    <section
      class="lg:px-12 px-4 bg-white lg:py-12 py-4 mt-2 shadow rounded-md"
    >
      <div class="container_blog" set:html={contentHtml} />
    </section>
    <RelatedBlogSection />
  </main>
  <CtaSection />
  <Footer />
</Layout>

<style>
  .container_blog p {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #4b5563;
  }
  .container_blog ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }
  .container_blog li {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #1f2937;
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: -0.025rem;
  }
  .container_blog h2 {
    letter-spacing: -0.025rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #111827;
    margin-top: 1.2rem;
  }

  @media (min-width: 1024px) {
    .container_blog p {
      font-size: 1rem;
      line-height: 2rem;
      color: #4b5563;
    }
    .container_blog ol {
      list-style-type: decimal;
      padding-left: 2rem;
    }
    .container_blog li {
      font-size: 1rem;
      line-height: 2rem;
      color: #1f2937;
      margin-top: 1rem;
      font-weight: 600;
      letter-spacing: -0.025rem;
    }
    .container_blog h2 {
      letter-spacing: -0.025rem;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 3rem;
      color: #111827;
      margin-top: 2rem;
    }
  }
</style>
