---
interface User {
  first_name: string;
  last_name: string;
}

interface UserDetails {
  user: User;
}

interface ArticleCategory {
  name: string;
}

interface Article {
  id: string;
  title: string;
  resume: string;
  reading_time: number;
  banner: string;
  publication_timestamp: string;
  userDetails: UserDetails;
  articleCategory: ArticleCategory;
}

interface ApiResponse {
  status: number;
  message: string;
  description: string;
  timestamp: string;
  path: string;
  data: {
    data: Article[];
    total: number;
    totalPages: number;
    currentPage: number;
    limit: number;
  };
}

const response = await fetch(
  "http://localhost:3000/api/v1/articles?page=1&limit=1"
);
const apiResponse: ApiResponse = await response.json();
const article = apiResponse.data.data[0];

if (!article) {
  return Astro.redirect("/");
}

const publicationDate = new Date(
  article.publication_timestamp
).toLocaleDateString("es-ES", {
  day: "numeric",
  month: "long",
  year: "numeric",
});
---

<section class="p-4 relative z-10">
  <div
    class="relative w-full h-auto overflow-hidden rounded-lg flex items-end justify-center"
  >
    <img
      src={article.banner}
      alt={article.title}
      class="w-full h-full object-cover absolute z-[-1] top-0 left-0 overflow-hidden object-top"
      loading="lazy"
    />
    <div class="w-full h-full absolute inset-0 bg-black/65" aria-hidden="true">
    </div>
    <div
      class="relative z-20 w-full max-w-7xl mx-auto py-44 px-6 lg:px-8 flex items-end justify-between flex-wrap"
    >
      <div class="max-w-2xl">
        <div class="flex items-center">
          <span
            class="block w-fit bg-white/15 backdrop-blur-lg px-4 py-1.5 text-white lg:text-base text-sm rounded-full"
          >
            {article.articleCategory.name}
          </span>
        </div>
        <h2 class="lg:text-4xl text-2xl text-white font-bold mt-8">
          {article.title}
        </h2>
        <p class="lg:text-lg text-sm text-white/60 mt-4">
          {article.resume}
        </p>
      </div>
      <div>
        <span class="flex items-center gap-2 lg:justify-end lg:mt-0 mt-4">
          <img
            class="rounded-full size-9 object-cover"
            alt={`${article.userDetails.user.first_name} ${article.userDetails.user.last_name}`}
            src="/assets/images/blog/avatar.avif"
          />
          <p class="lg:text-lg text-sm text-white font-semibold">
            {article.userDetails.user.first_name}
            {article.userDetails.user.last_name}
          </p>
        </span>
        <span class="flex items-center mt-4 gap-2 lg:justify-end flex-wrap">
          <p class="lg:text-base text-sm text-white/70">{publicationDate}</p>
          <span class="size-1.5 rounded-full bg-white/70"></span>
          <p class="lg:text-base text-sm text-white/70">
            {article.reading_time} minutos de lectura
          </p>
        </span>
      </div>
    </div>
  </div>
</section>
